@charset "UTF-8";
/*Marca el ancho del lateral derecho y adem├ís el ancho de la imagen adyacente...*/
body, p {
  margin: 0;
  padding: 0; }

section#lateralIzq {
  position: fixed;
  width: 365px;
  height: 100vh;
  top: 0px;
  background: white;
  z-index: 3;
  left: 0; }

section#content, section#content2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.preInfo {
  font-size: .9rem;
  color: #747474; }

@font-face {
  font-family: 'Flavin';
  src: url("../fonts/Flavin Bold.woff") format("woff");
  /* Pretty Modern Browsers */ }
body {
  font-family: 'Dosis', sans-serif;;
  background: #f8f8f8;
  overflow-x: hidden;
  margin-bottom: 80px; }

div#capaOverlay {
  background: black;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 3; }

div#pulsador {
  width: 100px;
  height: 100px;
  background: red;
  position: fixed;
  top: 0px;
  z-index: 100;
  visibility: hidden;
  /* & div:nth-child(odd) {
  	top:25%;
  		}
  
  		& div:last-child {
  		top:75%;
  	} */ }

div.barra {
  position: absolute;
  background: white;
  top: 30px;
  left: 30px;
  width: 40px;
  height: 4px;
  border-radius: 70px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transform-origin: center; }

h2 {
  font-family: Flavin,"Dosis",sans-serif; }

div[class=cajaMargen0], div[class=cajaMargen2] {
  cursor: pointer; }

div[class=cajaMargen1] img, div[class=cajaMargen1] h2 {
  cursor: crosshair; }

/*Estilo de Portada textos fotos*/
div#textoPortada {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0px;
  color: white;
  font-family: Flavin,"Dosis",sans-serif; }
  div#textoPortada div {
    max-width: 41%;
    width: 500px;
    position: absolute;
    left: 41%;
    top: 78%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    min-width: 240px; }
  div#textoPortada div:first-child {
    -webkit-animation: fadeIn 2s cubic-bezier(0.52, -0.16, 0.18, 0.99);
    -moz-animation: fadeIn 2s cubic-bezier(0.52, -0.16, 0.18, 0.99);
    -o-animation: fadeIn 2s cubic-bezier(0.52, -0.16, 0.18, 0.99);
    animation: fadeIn 2s cubic-bezier(0.52, -0.16, 0.18, 0.99); }
  div#textoPortada div.button {
    -webkit-animation: fadeInB 2s;
    -moz-animation: fadeInB 2s;
    -o-animation: fadeInB 2s;
    animation: fadeInB 2s; }
  div#textoPortada h1, div#textoPortada h2 {
    margin: 0px;
    font-weight: bolder; }
  div#textoPortada h1 {
    font-size: 3.1vmax; }
  div#textoPortada h2 {
    font-size: 2.6vmax; }
  div#textoPortada div.button {
    background: red;
    cursor: pointer;
    padding: 10px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    min-width: none;
    min-width: 30px;
    top: 85%;
    left: 80%;
    background: #fff35c;
    color: #1F1F1F;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease; }
    div#textoPortada div.button:hover {
      background: #1F1F1F;
      color: #ffec00; }

div#menu1 {
  /* height:30vh;*/
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  padding: 20px 10%;
  -webkit-align-content: space-around;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
  height: 30vh;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 165.75px; }
  div#menu1 * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0px;
    padding: 10px; }
  div#menu1 *:not(:first-child) {
    width: 45%; }
  div#menu1 *:not(:first-child):nth-child(odd) {
    text-align: right;
    visibility: hidden; }
  div#menu1 *:first-child, div#menu1 *:last-child {
    width: 90%; }

div#menu2 {
  /* height:30vh;*/
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column nowrap;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  padding: 20px 10%;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  height: 18vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  div#menu2 * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0px;
    padding: 10px;
    font-size: 1rem; }

div#social {
  /* height:30vh;*/
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  padding: 20px 2%;
  /* align-content: flex-start; */
  height: 9vh;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -moz-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  margin-top: 20px;
  position: absolute;
  left: 30px;
  bottom: 10px; }
  div#social * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0px;
    padding: 5px; }
  div#social *:first-child {
    font-size: 1rem;
    width: 93%;
    padding: 0px; }
  div#social *:not(:first-child) {
    cursor: pointer;
    width: 30px; }
  div#social svg[class^=icon] {
    width: 29px;
    fill: red;
    margin: 0px;
    padding: 0px;
    margin-top: 9px; }
  div#social svg[class*=twitter] {
    width: 35px;
    margin-top: 12px;
    position: relative;
    top: 6px;
    fill: #00aaec;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s; }
    div#social svg[class*=twitter] :hover {
      fill: #006186; }
  div#social svg[class*=facebook] {
    fill: #4460a0;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s; }
    div#social svg[class*=facebook] :hover {
      fill: #263558; }
  div#social svg[class*=spotify] {
    fill: #00da5a;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s; }
    div#social svg[class*=spotify] :hover {
      fill: #007430; }
  div#social i.instagram {
    background: url(../images/instagram.png) no-repeat center/100%;
    padding: 0px;
    margin: 0px;
    width: 31px;
    height: 31px;
    position: relative;
    top: 2px; }

/*//////////////*/
/*////////////////*/
section#lateralIzq img {
  padding: 30px;
  margin: 0 auto;
  display: block;
  cursor: pointer;
  width: 55%; }
section#lateralIzq h2:not(.noCursor) {
  cursor: pointer; }
section#lateralIzq #menu1 h2:not(.noCursor) {
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease; }
  section#lateralIzq #menu1 h2:not(.noCursor):hover {
    color: #f37096; }
section#lateralIzq #menu2 h2:not(.noCursor) {
  color: #8a8a8a;
  font-weight: 300;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease; }
  section#lateralIzq #menu2 h2:not(.noCursor):hover {
    color: black;
    font-weight: 700; }

section#lateralDer {
  float: left;
  width: 30%;
  height: 92vh; }

section#portada {
  position: relative;
  width: -moz-calc(100% - (30% + 365px));
  width: calc(100% - (30% + 365px));
  height: 92vh;
  background: transparent;
  overflow: hidden;
  float: left;
  margin-left: 365px; }

#Laimagen {
  background: url(../images/musicosPortada.jpg);
  width: 100%;
  position: relative;
  height: 100%;
  background-repeat: no-repeat;
  background-position: -moz-calc(((100% / 2) + 100px));
  background-position: calc(((100% / 2) + 100px)); }

article#imagen {
  width: 67%;
  background: transparent;
  /* background: url(../images/musicosPortada.jpg) no-repeat -100px / cover; */ }

article#info {
  background: #a5d7d5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  top: 0px;
  background: -moz-linear-gradient(top, #ffec00 50%, #a5d7d5 50%);
  background: -o-linear-gradient(top, #ffec00 50%, #a5d7d5 50%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #ffec00), color-stop(50%, #a5d7d5));
  background: linear-gradient(180deg, #ffec00 50%, #a5d7d5 50%); }

article#info div {
  height: 50%;
  width: 100%; }

article#info div:first-child {
  background: #ffec00; }

article#info div:last-child {
  background: #a5d7d5; }

main {
  width: -moz-calc(100% - 365px);
  width: calc(100% - 365px);
  position: relative;
  right: -365px;
  clear: both;
  background: #ffec00;
  background: -moz-linear-gradient(#f8f8f8 50%, #fad0c4 50%);
  background: -o-linear-gradient(#f8f8f8 50%, #fad0c4 50%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #f8f8f8), color-stop(50%, #fad0c4));
  background: linear-gradient(#f8f8f8 50%, #fad0c4 50%);
  /*height:400px; */
  margin: 106px 0 20px 0;
  min-height: 100vh; }

section#content2 {
  padding-bottom: 70px; }

section#content div, section#content2 div {
  width: 300px;
  background: #e9eeff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 20px 14px;
  -webkit-box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.4); }

section#content div:nth-child(even) {
  background: #e9eeff; }

.cajaMargen {
  padding: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all .8s ease;
  -moz-transition: all .8s ease;
  -o-transition: all .8s ease; }
  .cajaMargen img, .cajaMargen h2 {
    cursor: pointer; }

.cajaMargen2 {
  padding: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -moz-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.cajaMargen2 img {
  width: 100%; }

.cajaMargen2 *:nth-child(n+2), .cajaMargen2 .preInfo {
  margin: 5px 15px; }

#content2 div:nth-of-type(n+4) {
  padding-top: 20px; }

#imagenLogo {
  background: #8dc4d5;
  height: 730px;
  background: -webkit-gradient(linear, left bottom, left top, from(white), to(#00ffb2));
  background: -moz-linear-gradient(bottom, white, #00ffb2);
  background: -o-linear-gradient(bottom, white, #00ffb2);
  background: linear-gradient(0deg, white, #00ffb2);
  position: absolute;
  z-index: -1;
  width: 100%;
  -webkit-transition: all .8s ease;
  -moz-transition: all .8s ease;
  -o-transition: all .8s ease; }

.cajaMargen * {
  margin: 4px 0 4px 0; }

#content img {
  border-radius: 50%; }

section#lateralDer div.cajaMargen0 {
  padding: 20px 12px 30px 12px;
  max-width: 270px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  background: #e9eeff;
  margin: 0 12px;
  -webkit-box-shadow: 0 2px 50px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 50px 0 rgba(0, 0, 0, 0.3);
  -webkit-transition: all .8s ease;
  -moz-transition: all .8s ease;
  -o-transition: all .8s ease; }
  section#lateralDer div.cajaMargen0 div.button {
    font-family: Flavin,"Dosis",sans-serif;
    padding: 12px;
    background: #fff35c;
    color: #1F1F1F;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: auto;
    margin: 0;
    position: absolute;
    bottom: 0;
    left: -moz-calc(50% - 40px);
    left: calc(50% - 40px);
    right: 0;
    transform: translateY(50%);
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -o-transform: translateY(50%);
    transform: translateY(50%);
    -webkit-box-shadow: 0 2px 50px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 50px 0 rgba(0, 0, 0, 0.3);
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease; }
    section#lateralDer div.cajaMargen0 div.button:hover {
      background: #1F1F1F;
      color: #ffec00;
      cursor: pointer; }

section#divisor {
  height: 140px;
  background: transparent;
  position: relative; }
  section#divisor div.button {
    font-family: Flavin,"Dosis",sans-serif;
    padding: 12px;
    background: #fff35c;
    color: #1F1F1F;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: auto;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    right: 0;
    -webkit-box-shadow: 0 2px 50px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 50px 0 rgba(0, 0, 0, 0.3);
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease; }
    section#divisor div.button:hover {
      background: #1F1F1F;
      color: #ffec00;
      cursor: pointer; }

.cajaMargen2 {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-bottom: 35px;
  -webkit-transition: all .8s ease;
  -moz-transition: all .8s ease;
  -o-transition: all .8s ease; }

section#content2 .cajaMargen2 {
  position: relative; }
  section#content2 .cajaMargen2 div.button {
    font-family: Flavin,"Dosis",sans-serif;
    padding: 12px;
    background: #fff35c;
    color: #1F1F1F;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: auto;
    margin: 0;
    position: absolute;
    bottom: 0px;
    left: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, 50%);
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease; }
    section#content2 .cajaMargen2 div.button:hover {
      background: #1F1F1F;
      color: #ffec00;
      cursor: pointer; }

/*    left: 41%;    top: 85%;;*/
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    top: 100%; }
  100% {
    opacity: 1;
    top: 78%; } }
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
    top: 100%; }
  100% {
    opacity: 1;
    top: 78%; } }
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
    top: 100%; }
  100% {
    opacity: 1;
    top: 78%; } }
@keyframes fadeIn {
  0% {
    opacity: 0;
    top: 100%; }
  100% {
    opacity: 1;
    top: 78%; } }
/*////////////////////*/
/*///////////////////*/
@-webkit-keyframes fadeInB {
  0% {
    opacity: 0;
    top: 120%;
    left: 80%; }
  100% {
    opacity: 1;
    top: 85%;
    left: 80%; } }
@-moz-keyframes fadeInB {
  0% {
    opacity: 0;
    top: 120%;
    left: 80%; }
  100% {
    opacity: 1;
    top: 85%;
    left: 80%; } }
@-o-keyframes fadeInB {
  0% {
    opacity: 0;
    top: 120%;
    left: 80%; }
  100% {
    opacity: 1;
    top: 85%;
    left: 80%; } }
@keyframes fadeInB {
  0% {
    opacity: 0;
    top: 120%;
    left: 80%; }
  100% {
    opacity: 1;
    top: 85%;
    left: 80%; } }
/*/////////////////////////////////////*/
/*/////////////////////////////////////*/
/*//////////////////////////////////////*/
/*//////////////////////////////////////*/
/*MEDIA QUERIES
////////////////////////////////////////
///////////////////////////////////////*/
@media screen and (max-width: 1100px) {
  div#pulsador {
    width: 60px;
    height: 60px;
    background: #a2d4d2;
    position: fixed;
    top: 5px;
    z-index: 100;
    visibility: visible;
    border-radius: 7px;
    left: 5px;
    cursor: pointer; }

  section#lateralIzq {
    left: -365px; }

  section#lateralIzq {
    left: -365px; }

  section#portada {
    margin-left: 0px;
    width: -moz-calc(100% - 35% );
    width: calc(100% - 35% ); }

  section#lateralDer {
    width: 35%; }

  main {
    width: 100vw;
    right: 0px; }

  .cajaMargen2 *:nth-child(n+2) {
    margin: 4px; } }
@media screen and (max-width: 1022px) {
  section#content2 .cajaMargen2 div.button {
    bottom: 10%;
    left: initial;
    right: 0px;
    transform: translate(-10%, 105%);
    -webkit-transform: translate(-10%, 105%);
    -moz-transform: translate(-10%, 105%);
    -o-transform: translate(-10%, 105%);
    transform: translate(-10%, 105%); }

  .cajaMargen2 {
    min-height: initial; }

  .cajaMargen2 {
    margin: 20px 0px;
    padding: 15px; }

  .cajaMargen2 img {
    width: auto;
    margin: 4px;
    border-radius: 50%; }

  .cajaMargen2 *:nth-child(n+2) {
    padding: 0px; }

  section#portada {
    width: 100%; }

  section#lateralDer {
    width: 100%; }

  article#info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    height: 45vh;
    background: -moz-linear-gradient(left, #ffec00 50%, #a5d7d5 50%);
    background: -o-linear-gradient(left, #ffec00 50%, #a5d7d5 50%);
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, #ffec00), color-stop(50%, #a5d7d5));
    background: linear-gradient(90deg, #ffec00 50%, #a5d7d5 50%); }

  article#info div {
    height: 100%;
    width: 50%; }

  section#content div, section#content2 div {
    width: 90%;
    background: #e9eeff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 20px 0px;
    -webkit-box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.4);
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.4); }

  .cajaMargen, .cajaMargen2 {
    /* -webkit-transform: translateX(-8px);
        
      -moz-transform: translateX(-8px);
        
        -o-transform: translateX(-8px);
        
           transform: translateX(-8px);  */
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: flex-start;
    -webkit-align-items: flex-start;
    -moz-box-align: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start; }

  .cajaMargen *, .cajaMargen2 * {
    margin: 4px 4px 4px 4px;
    max-width: 210px; }

  .cajaMargen2 {
    margin: 20px 0px;
    padding: 15px; }

  /* .cajaMargen2 img{
  	width:100%;
  	margin:0;
  	padding:0;
  } */
  .cajaMargen h2, .cajaMargen2 h2 {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center; }

  section#portada {
    height: 50vh; }

  div#Laimagen {
    background-position: -moz-calc((100% / 2) - -1px) -28px;
    background-position: calc((100% / 2) - -1px) -28px;
    -o-background-size: 90%;
    background-size: 90%; }

  section#lateralDer div.cajaMargen0 {
    max-width: 350px; }

  section#lateralDer {
    height: 48vh; } }
@media screen and (max-width: 812px) {
  div#pulsador {
    width: 60px;
    height: 60px; }

  article#info {
    height: 85vh;
    background: -moz-linear-gradient(bottom, #ffec00 50%, #a5d7d5 50%);
    background: -o-linear-gradient(bottom, #ffec00 50%, #a5d7d5 50%);
    background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #ffec00), color-stop(50%, #a5d7d5));
    background: linear-gradient(0deg, #ffec00 50%, #a5d7d5 50%); }

  section#lateralDer {
    height: 87vh; }

  section#content2 .cajaMargen2 div.button {
    bottom: 10%;
    left: initial;
    right: -20px; } }
@media screen and (max-width: 765px) {
  section#portada {
    height: 30vh; }

  div#Laimagen {
    background-position: -moz-calc((100% / 2) - -1px) -28px;
    background-position: calc((100% / 2) - -1px) -28px;
    -o-background-size: 87%;
    background-size: 87%; }

  section#content div, section#content2 div {
    width: 85%; }

  article#info div {
    width: 100%;
    height: 150px; }

  /* article#info{
  height: 45vh;	
  } */ }
@media screen and (max-width: 500px) {
  div#textoPortada h2 {
    visibility: hidden; }

  div#textoPortada h1 {
    margin-top: 35px; }

  section#portada {
    height: 207px; }

  div#Laimagen {
    background-position: center -6px;
    -o-background-size: 100%;
    background-size: 100%; }

  section#lateralDer {
    height: 98vh; }

  main {
    margin-top: -80px;
    display: inline-block; }

  section#lateralIzq img {
    margin: -15px 0 0px 90px; }

  div#menu1 {
    margin-top: 116px; } }
@media screen and (max-width: 312px) {
  article#info {
    height: 104vh;
    margin-top: -31px; }

  main {
    margin-top: 40px;
    display: inline-block; } }

/*# sourceMappingURL=estilo.css.map */
