/* $backF:#e7daff;*/
/* $backF:white;*/
/*$basicMarginL:30px;*/
/*$basicMarginLList:;*/
section#intro article#Me h1, section#intro article#About p, section#intro article#Otros p {
  margin: 0;
  padding: 0; }

/* <!-- font-family: 'Titillium Web', sans-serif;
font-family: 'Dosis', sans-serif;
font-family: 'Yanone Kaffeesatz', sans-serif;
font-family: 'Ubuntu', sans-serif; --> */
body, p {
  margin: 0;
  padding: 0; }

body {
  background: gainsboro;
  font-family: "Titillium Web", sans-serif;
  color: #7D7D7D;
  font-size: 0.9rem;
  color: white; }

section#intro {
  background: transparent;
  height: 240px;
  position: relative;
  /*////////////*/ }
  section#intro div#bkfoto, section#intro div#color, section#intro div#color2 {
    width: 100%;
    height: 100%; }
  section#intro div#bkfoto {
    background: url(../images/portada.jpg) no-repeat center/cover;
    position: absolute;
    top: 0px;
    z-index: -1;
    opacity: .7; }
  section#intro div#color {
    background: #ac5050;
    position: absolute;
    top: 0px;
    z-index: -1;
    opacity: .5; }
  section#intro div#color2 {
    background: black;
    position: absolute;
    top: 0px;
    z-index: -1;
    opacity: .5; }
  section#intro div#color3 {
    position: absolute;
    width: 37%;
    height: 100%;
    right: 0;
    top: 0;
    background: url(../images/halftone.png) 60%, -webkit-gradient(linear, left top, left bottom, from(#5a2729), to(#2c1818));
    background: url(../images/halftone.png) 60%, -moz-linear-gradient(#5a2729, #2c1818);
    background: url(../images/halftone.png) 60%, -o-linear-gradient(#5a2729, #2c1818);
    background: url(../images/halftone.png) 60%, linear-gradient(#5a2729, #2c1818);
    background-blend-mode: color-burn;
    -webkit-box-shadow: 5px 5px 56px black;
    box-shadow: 5px 5px 56px black; }
  section#intro p {
    text-align: justify; }
  section#intro article#Me {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 15%;
    left: 30%; }
    section#intro article#Me h1 {
      color: rgba(215, 115, 181, 0.4);
      font-size: 3.9vmax;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content; }
  section#intro article#About {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 59%;
    width: 70%;
    max-width: 330px; }
    section#intro article#About p {
      padding: 16px; }
    section#intro article#About div {
      width: 16px;
      height: 16px;
      position: absolute; }
    section#intro article#About div:nth-of-type(1) {
      top: 0px;
      left: 0px;
      border-top: 1px solid #f44336;
      border-left: 1px solid #f44336; }
    section#intro article#About div:nth-of-type(2) {
      top: 0px;
      right: 0px;
      border-top: 1px solid #f44336;
      border-right: 1px solid #f44336; }
    section#intro article#About div:nth-of-type(3) {
      bottom: 0px;
      left: 0px;
      border-bottom: 1px solid #f44336;
      border-left: 1px solid #f44336; }
    section#intro article#About div:nth-of-type(4) {
      bottom: 0px;
      right: 0px;
      border-bottom: 1px solid #f44336;
      border-right: 1px solid #f44336; }
  section#intro article#Otros {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: none;
    top: 59%;
    width: 70%;
    max-width: 330px; }
    section#intro article#Otros p {
      padding: 16px; }
    section#intro article#Otros div {
      width: 16px;
      height: 16px;
      position: absolute; }
    section#intro article#Otros div:nth-of-type(1) {
      top: 0px;
      left: 0px;
      border-top: 1px solid #f44336;
      border-left: 1px solid #f44336; }
    section#intro article#Otros div:nth-of-type(2) {
      top: 0px;
      right: 0px;
      border-top: 1px solid #f44336;
      border-right: 1px solid #f44336; }
    section#intro article#Otros div:nth-of-type(3) {
      bottom: 0px;
      left: 0px;
      border-bottom: 1px solid #f44336;
      border-left: 1px solid #f44336; }
    section#intro article#Otros div:nth-of-type(4) {
      bottom: 0px;
      right: 0px;
      border-bottom: 1px solid #f44336;
      border-right: 1px solid #f44336; }

section#formacion, section#formacion2, section#formacion3, section#formacion4 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 25%;
  grid-gap: 0px;
  height: 50vmax;
  margin-top: 20px;
  background: linear-gradient(90deg, rgba(21, 86, 18, 0.65), #375e6f), url(../images/whirlpool.png) center/25%; }
  section#formacion article.blend, section#formacion2 article.blend, section#formacion3 article.blend, section#formacion4 article.blend {
    background: gold;
    mix-blend-mode: multiply; }
  section#formacion article:nth-child(odd), section#formacion2 article:nth-child(odd), section#formacion3 article:nth-child(odd), section#formacion4 article:nth-child(odd) {
    background: white; }
  section#formacion article:nth-child(1), section#formacion2 article:nth-child(1), section#formacion3 article:nth-child(1), section#formacion4 article:nth-child(1) {
    grid-area: 1/1/span 6 /span 2;
    background: black;
    width: 53%;
    margin-left: -8px; }
  section#formacion article:nth-child(2), section#formacion2 article:nth-child(2), section#formacion3 article:nth-child(2), section#formacion4 article:nth-child(2) {
    grid-area: 1/2/span 6 / span 12;
    background: #bea7bf; }

.flex_Centrado {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: row wrap;
  padding-top: 25%;
  position: relative; }
  .flex_Centrado h2 {
    color: lightblue;
    font-size: 1.1rem;
    white-space: nowrap;
    margin: 0px 5%; }

.strips {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-content: center;
  overflow: hidden; }

.strip {
  align-items: flex-end;
  display: flex;
  height: 100vh;
  justify-content: center;
  overflow: hidden; }
  .strip div.sample {
    width: fit-content;
    max-width: 100%;
    background: white;
    align-items: center;
    padding: 1.5vmin;
    box-shadow: -3px 3px 20px 5px rgba(0, 0, 0, 0.36); }
    .strip div.sample img {
      max-width: 100%; }
  .strip p {
    max-width: 100%; }
  .strip .plus, .strip .content {
    margin-bottom: 200px;
    font-size: 1.5rem; }
  .strip .content {
    opacity: 0;
    transform: scale(0);
    width: 0; }
    .strip .content h1,
    .strip .content p, .strip .content div.sample {
      opacity: 0;
      transition: opacity 400ms ease, transform 400ms ease; }
    .strip .content h1 {
      transform: translateY(-25%); }
    .strip .content p, .strip .content div.sample {
      transform: translateX(25%);
      transition-delay: 400ms; }
  .strip.hoverin {
    justify-content: flex-start;
    padding-left: 0%; }
    .strip.hoverin .content {
      font-size: 2.1vmin;
      opacity: 1;
      padding: 2em;
      transform: scale(1);
      width: fit-content;
      margin: 0 auto 200px; }
      .strip.hoverin .content h1,
      .strip.hoverin .content p, .strip.hoverin .content div.sample {
        opacity: 1; }
      .strip.hoverin .content h1 {
        transform: translateY(0);
        color: #ff6552;
        text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.58);
        font-size: 3vmin; }
      .strip.hoverin .content p, .strip.hoverin .content div.sample {
        transform: translateX(0); }
    #formacion .strip.hoverin.hoverin, #formacion2 .strip.hoverin.hoverin, #formacion4 .strip.hoverin.hoverin {
      grid-column-end: span 5; }

.nohoverin {
  grid-column: 1; }

#formacion h1 {
  color: #ff8172; }

#formacion2 h1 {
  color: #e072ff; }

#formacion3 h1 {
  color: #72e1ff; }

#formacion4 h1 {
  color: #66fdc9; }

#formacion3 .strip.hoverin {
  grid-column-end: span 4; }

#formacion .strip:nth-child(1) {
  background-color: #8e4e5b; }

#formacion .strip:nth-child(2) {
  background-color: #aa6573; }

#formacion .strip:nth-child(3) {
  background-color: #bc8691; }

#formacion2 .strip:nth-child(1) {
  background-color: #665f86; }

#formacion2 .strip:nth-child(2) {
  background-color: #7f799f; }

#formacion2 .strip:nth-child(3) {
  background-color: #9b96b5; }

#formacion3 .strip:nth-child(1) {
  background-color: #516a7c; }

#formacion3 .strip:nth-child(2) {
  background-color: #5b778c; }

#formacion3 .strip:nth-child(3) {
  background-color: #65849b; }

#formacion3 .strip:nth-child(4) {
  background-color: #7591a5; }

#formacion4 .strip:nth-child(1) {
  background-color: #5e9d86; }

#formacion4 .strip:nth-child(2) {
  background-color: #7db19e; }

#formacion4 .strip:nth-child(3) {
  background-color: #9dc4b6; }

.strip {
  align-items: flex-start; }

@supports not (width: fit-content) {
  .strip div.sample, .strip.hoverin .content {
    width: -moz-fit-content; }

  section#formacion2 article:first-child h2 {
    width: -moz-fit-content;
    position: relative;
    top: -20px; }
    section#formacion2 article:first-child h2:not(:last-child) {
      top: -80px; } }
#formacion3 div.marco {
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  top: 0px;
  left: 0px;
  z-index: 0;
  box-sizing: border-box;
  box-shadow: -3px 3px 20px 5px rgba(0, 0, 0, 0.36);
  transform: scale(1.06, 1.1); }
#formacion3 .content {
  position: relative;
  transform: translateX(-5%); }
#formacion3 .sample {
  box-shadow: none; }
#formacion3 #container {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
  width: 100%; }
#formacion3 #container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.rotulos {
  position: relative;
  left: 11%;
  min-width: 310px;
  bottom: -42%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  /* height: 11vh; */
  transform: rotate(-90deg); }
  #formacion2 .rotulos {
    min-width: 285px; }

/*/////////////////////////////*/
/*/////////////////////////////*/
/*/////////////////////////////*/
/*MEDIA QUERIES*/
/*/////////////////////////////*/
/*/////////////////////////////*/
/*/////////////////////////////*/
@media (min-width: 541px) {
  section#intro {
    height: 500px; }
    section#intro article#About, section#intro article#Otros {
      font-size: 1.2rem; }
      section#intro article#About div:nth-of-type(1), section#intro article#Otros div:nth-of-type(1) {
        border-top: 4px solid #f44336;
        border-left: 4px solid #f44336; }
      section#intro article#About div:nth-of-type(2), section#intro article#Otros div:nth-of-type(2) {
        border-top: 4px solid #f44336;
        border-right: 4px solid #f44336; }
      section#intro article#About div:nth-of-type(3), section#intro article#Otros div:nth-of-type(3) {
        border-bottom: 4px solid #f44336;
        border-left: 4px solid #f44336; }
      section#intro article#About div:nth-of-type(4), section#intro article#Otros div:nth-of-type(4) {
        border-bottom: 4px solid #f44336;
        border-right: 4px solid #f44336; }
    section#intro article#Me {
      top: 50%;
      left: 50%; }
    section#intro article#About {
      top: 23%;
      left: 69%; }
    section#intro article#Otros {
      display: block;
      top: 77%;
      left: 32%; }

  div#division {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 10px;
    height: 80%;
    display: none;
    background: transparent;
    mix-blend-mode: color-dodge;
    -webkit-transform: translate(-50%, -50%) rotate(14deg);
    -moz-transform: translate(-50%, -50%) rotate(14deg);
    -o-transform: translate(-50%, -50%) rotate(14deg);
    transform: translate(-50%, -50%) rotate(14deg); } }
@media (min-width: 768px) {
  .flex_Centrado h2 {
    font-size: 1.6rem; }

  section#formacion, section#formacion2, section#formacion3, section#formacion4 {
    height: 500px; }
    section#formacion article:nth-child(1), section#formacion2 article:nth-child(1), section#formacion3 article:nth-child(1), section#formacion4 article:nth-child(1) {
      width: 75%; }
    section#formacion article:nth-child(2), section#formacion2 article:nth-child(2), section#formacion3 article:nth-child(2), section#formacion4 article:nth-child(2) {
      grid-area: 1/3/span 6 / span 11; }

  .strip p {
    max-width: 80%; }
  .strip .plus {
    font-size: 2.5rem; }
  .strip.hoverin {
    padding-left: 3%; }
    .strip.hoverin .content {
      margin: 40px auto 200px; } }
@media (min-width: 768px) and (min-width: 1100px), (min-width: 768px) and (min-width: 1024px) and (orientation: landscape) {
  .flex_Centrado h2 {
    font-size: 2.3rem; }

  section#intro {
    height: 100vh; }
    section#intro article#Me {
      top: 18%;
      left: 50%;
      -webkit-transform: translate(-97%, -50%);
      -moz-transform: translate(-97%, -50%);
      -o-transform: translate(-97%, -50%);
      transform: translate(-97%, -50%); }
      section#intro article#Me h1 {
        font-size: 4.3rem; }
    section#intro article#About {
      font-size: 1.3rem;
      max-width: 450px;
      top: 50%;
      left: 25%;
      color: #d07b7b; }
    section#intro article#Otros {
      font-size: 1.3rem;
      max-width: 450px;
      top: 50%;
      left: 75%;
      border: 4px dashed #8BC34A;
      color: #dda0a0; }
      section#intro article#Otros div {
        display: none; }

  section#formacion, section#formacion2, section#formacion3, section#formacion4 {
    height: 100vh; }

  .strip {
    align-items: flex-end; }
    .strip p {
      max-width: 385px; }
    .strip.hoverin {
      padding-left: 3%; }
      .strip.hoverin .content {
        margin: 0px auto 50px; } }
@media (min-width: 768px) and (min-width: 1200px) {
  div#division {
    max-width: 470px;
    height: 80%;
    z-index: -1;
    display: flex;
    flex-flow: row wrap; }
    div#division div:nth-child(odd) {
      width: 20px;
      height: 10%;
      background: rgba(255, 127, 0, 0.2); }
    div#division div:nth-child(even) {
      background: rgba(86, 31, 31, 0.5);
      width: 20px;
      height: 20%; } }

/*# sourceMappingURL=estilo.css.map */
