@font-face {
  font-family: 'Quicksand';
  src: url("../font/Quicksand-Regular.eot");
  src: url("../font/Quicksand-Regular.eot?#iefix") format("embedded-opentype"), url("../font/Quicksand-Regular.woff") format("woff"), url("../font/Quicksand-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Cervo';
  src: url("../font/Cervo-Regular.eot");
  src: url("../font/Cervo-Regular.eot?#iefix") format("embedded-opentype"), url("../font/Cervo-Regular.woff") format("woff"), url("../font/Cervo-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Cervo-Thin';
  src: url("../font/Cervo-Thin.eot");
  src: url("../font/Cervo-Thin.eot?#iefix") format("embedded-opentype"), url("../font/Cervo-Thin.woff") format("woff"), url("../font/Cervo-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }
/* $backF:#e7daff;*/
/* $backF:white;*/
/*$basicMarginL:30px;*/
/*$basicMarginLList:;*/
section#intro article#Me h1, section#intro article#About p, section#intro article#Otros p {
  margin: 0;
  padding: 0; }

/* <!-- font-family: 'Titillium Web', sans-serif;
font-family: 'Dosis', sans-serif;
font-family: 'Yanone Kaffeesatz', sans-serif;
font-family: 'Ubuntu', sans-serif; --> */
body, p {
  margin: 0;
  padding: 0; }

body {
  background: white;
  font-family: 'Quicksand';
  color: #7D7D7D;
  font-size: 0.9rem;
  color: white;
-webkit-font-smoothing: antialiased;}

h1, h2 {
  font-family: 'Cervo-Thin';
  letter-spacing: 1px; }

section#intro {
  background: transparent;
  height: 240px;
  position: relative;
  /*////////////*/ }
  section#intro div#bkfoto, section#intro div#color, section#intro div#color2 {
    width: 100%;
    height: 100%; }
  section#intro div#bkfoto {
    background: url(../images/portada.jpg) no-repeat center/cover;
    position: absolute;
    top: 0px;
    z-index: -1;
    opacity: .7; }
  section#intro div#color {
    background: #ac5050;
    position: absolute;
    top: 0px;
    z-index: -1;
    opacity: .5; }
  section#intro div#color2 {
    background: black;
    position: absolute;
    top: 0px;
    z-index: -1;
    opacity: .5; }
  section#intro div#color3 {
    position: absolute;
    width: 37%;
    height: 100%;
    right: 0;
    top: 0;
    background: url(../images/halftone.png) 60%, -webkit-gradient(linear, left top, left bottom, from(#5a2729), to(#2c1818));
    background: url(../images/halftone.png) 60%, -moz-linear-gradient(#5a2729, #2c1818);
    background: url(../images/halftone.png) 60%, -o-linear-gradient(#5a2729, #2c1818);
    background: url(../images/halftone.png) 60%, linear-gradient(#5a2729, #2c1818);
    background-blend-mode: color-burn;
    -webkit-box-shadow: 5px 5px 56px black;
    box-shadow: 5px 5px 56px black; }
  section#intro p {
    text-align: justify; }
  section#intro article#Me {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 12%;
    left: 44%; }
    section#intro article#Me h1 {
      color: #a7b1e4;
      font-size: 3.9vmax;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content; }
  section#intro article#About {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 55%;
    width: 70%;
    max-width: 330px;
    background: rgba(255, 255, 255, 0.22); }
    section#intro article#About p {
      padding: 16px; }
    section#intro article#About div {
      width: 16px;
      height: 16px;
      position: absolute; }
    section#intro article#About div:nth-of-type(1) {
      top: 0px;
      left: 0px;
      border-top: 1px solid #f44336;
      border-left: 1px solid #f44336; }
    section#intro article#About div:nth-of-type(2) {
      top: 0px;
      right: 0px;
      border-top: 1px solid #f44336;
      border-right: 1px solid #f44336; }
    section#intro article#About div:nth-of-type(3) {
      bottom: 0px;
      left: 0px;
      border-bottom: 1px solid #f44336;
      border-left: 1px solid #f44336; }
    section#intro article#About div:nth-of-type(4) {
      bottom: 0px;
      right: 0px;
      border-bottom: 1px solid #f44336;
      border-right: 1px solid #f44336; }
  section#intro article#Otros {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: none;
    top: 59%;
    width: 70%;
    max-width: 330px; }
    section#intro article#Otros p {
      padding: 16px; }
    section#intro article#Otros div {
      width: 16px;
      height: 16px;
      position: absolute; }
    section#intro article#Otros div:nth-of-type(1) {
      top: 0px;
      left: 0px;
      border-top: 1px solid #f44336;
      border-left: 1px solid #f44336; }
    section#intro article#Otros div:nth-of-type(2) {
      top: 0px;
      right: 0px;
      border-top: 1px solid #f44336;
      border-right: 1px solid #f44336; }
    section#intro article#Otros div:nth-of-type(3) {
      bottom: 0px;
      left: 0px;
      border-bottom: 1px solid #f44336;
      border-left: 1px solid #f44336; }
    section#intro article#Otros div:nth-of-type(4) {
      bottom: 0px;
      right: 0px;
      border-bottom: 1px solid #f44336;
      border-right: 1px solid #f44336; }

section#formacion, section#formacion2, section#formacion3, section#formacion4 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 25%;
  grid-gap: 0px;
  height: 50vmax;
  margin-top: 20px;
  background: linear-gradient(90deg, rgba(21, 86, 18, 0.65), #375e6f), url(../images/whirlpool.png) center/25%; }
  section#formacion article.blend, section#formacion2 article.blend, section#formacion3 article.blend, section#formacion4 article.blend {
    background: gold;
    mix-blend-mode: multiply; }
  section#formacion article:nth-child(odd), section#formacion2 article:nth-child(odd), section#formacion3 article:nth-child(odd), section#formacion4 article:nth-child(odd) {
    background: white; }
  section#formacion article:nth-child(1), section#formacion2 article:nth-child(1), section#formacion3 article:nth-child(1), section#formacion4 article:nth-child(1) {
    grid-area: 1/1/span 6 /span 2;
    background: black;
    width: 53%;
    margin-left: -8px; }
  section#formacion article:nth-child(2), section#formacion2 article:nth-child(2), section#formacion3 article:nth-child(2), section#formacion4 article:nth-child(2) {
    grid-area: 1/2/span 6 / span 12;
    background: #bea7bf; }

.flex_Centrado {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: row wrap;
  padding-top: 25%;
  position: relative;
  overflow: hidden; }
  .flex_Centrado h2 {
    color: lightblue;
    font-size: .8rem;
    white-space: nowrap;
    margin: 0px 5%; }

.strips {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-content: center;
  overflow: hidden; }

.strip {
  align-items: flex-end;
  display: flex;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  position: relative; }
  .strip div.sample {
    width: fit-content;
    max-width: 100%;
    background: white;
    align-items: center;
    padding: 1.5vmin;
    box-shadow: -3px 3px 20px 5px rgba(0, 0, 0, 0.36); }
    .strip div.sample img {
      opacity: 0;
      max-width: 100%; }
  .strip p {
    max-width: 100%;
    min-width: 150px; }
  .strip .plus, .strip .content {
    margin-bottom: 200px;
    font-size: 1.5rem; }
  .strip .plus {
    position: relative;
    left: -20%;
    bottom: -42%; }
  .strip .content {
    opacity: 0;
    transform: scale(0);
    width: 0; }
    .strip .content h1,
    .strip .content p, .strip .content div.sample {
      opacity: 0;
      transition: opacity 400ms ease, transform 400ms ease; }
    .strip .content h1 {
      transform: translateY(-25%); }
    .strip .content p, .strip .content div.sample {
      transform: translateX(25%);
      transition-delay: 400ms; }
  .strip.hoverin {
    justify-content: flex-start; }
    .strip.hoverin .plus {
      position: relative;
      left: 12%;
      bottom: -42%; }
    .strip.hoverin .content {
      font-size: 0.9rem;
      opacity: 1;
      padding: 2em;
      transform: translate(-6px, 5%);
      width: 70%;
      margin: -20px auto 200px; }
      .strip.hoverin .content h1,
      .strip.hoverin .content p, .strip.hoverin .content div.sample {
        opacity: 1; }
      .strip.hoverin .content h1 {
        transform: translateY(0);
        color: #ff6552;
        text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.58);
        font-size: 1.2rem;
        margin: 15px 0 5px; }
      .strip.hoverin .content p, .strip.hoverin .content div.sample {
        transform: translateX(0); }
    #formacion .strip.hoverin.hoverin, #formacion2 .strip.hoverin.hoverin, #formacion4 .strip.hoverin.hoverin {
      grid-column-end: span 5; }

.nohoverin {
  grid-column: 1; }

#formacion h1 {
  color: #ff8172; }

#formacion2 h1 {
  color: #e072ff; }

#formacion3 h1 {
  color: #72e1ff;
  margin: 20px 0 5px; }

#formacion4 h1 {
  color: #66fdc9; }

#formacion3 .strip.hoverin {
  grid-column-end: span 4; }

#formacion .strip:nth-child(1) {
  background-color: #8e4e5b; }

#formacion .strip:nth-child(2) {
  background-color: #aa6573; }

#formacion .strip:nth-child(3) {
  background-color: #bc8691; }

#formacion2 .strip:nth-child(1) {
  background-color: #665f86; }

#formacion2 .strip:nth-child(2) {
  background-color: #7f799f; }

#formacion2 .strip:nth-child(3) {
  background-color: #9b96b5; }

#formacion3 .strip:nth-child(1) {
  background-color: #516a7c; }

#formacion3 .strip:nth-child(2) {
  background-color: #5b778c; }

#formacion3 .strip:nth-child(3) {
  background-color: #65849b; }

#formacion3 .strip:nth-child(4) {
  background-color: #7591a5; }

#formacion4 .strip:nth-child(1) {
  background-color: #5e9d86; }

#formacion4 .strip:nth-child(2) {
  background-color: #7db19e; }

#formacion4 .strip:nth-child(3) {
  background-color: #9dc4b6; }

.strip {
  align-items: flex-start; }

@supports not (width: fit-content) {
  .strip div.sample, .strip.hoverin .content {
    width: -moz-fit-content; }

  section#formacion2 article:first-child h2 {
    width: -moz-fit-content;
    position: relative;
    top: -20px; }
    section#formacion2 article:first-child h2:not(:last-child) {
       } }
#formacion3 div.marco {
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  top: 0px;
  left: 0px;
  z-index: 0;
  box-sizing: border-box;
  box-shadow: -3px 3px 20px 5px rgba(0, 0, 0, 0.36);
  transform: scale(1.06, 1.1); }
#formacion3 .content {
  position: relative;
  transform: translate(-9%, 5%); }
#formacion3 .sample {
  box-shadow: none; }
#formacion3 #container {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
  width: 100%; }
#formacion3 #container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

img {
  transition: all 1s; }

.rotulos {
  position: relative;
  left: 11%;
  min-width: 310px;
  bottom: -42%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  transform: rotate(-90deg); }
  #formacion2 .rotulos {
    min-width: 285px; }

h1 {
  margin: 15px 0 5px; }

.strips .strip.hoverin:first-child .content {
  transform: translate(-8px, 5%); }

#formacion3 .strip.hoverin:first-child .content {
  transform: translate(-10%, 5%); }

#contacto {
  width: 100%;
  height: 165px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  flex-flow: row wrap; }

.datos {
  height: 100%;
  background: #3e3939;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  background: transparent;
  width: 100%;
  background: #633737; }

.resto {
  width: 96%;
  background: #3e3939;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  padding: 3%;
  box-sizing: border-box;
  font-size: .9rem; }

.mail, .mobile, .linkedin {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  cursor: pointer; }
  .mail div, .mobile div, .linkedin div {
    overflow: hidden; }

#contacto .datos:last-child {
  background: #491e46; }
  #contacto .datos:last-child div {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-flow: row;
    justify-content: center; }
    #contacto .datos:last-child div svg {
      width: 100%;
      height: 100%;
      padding: 14px;
      box-sizing: border-box; }

.name {
  text-align: center;
  box-sizing: border-box;
  padding: 0%;
  font-size: 1.9rem; }

svg[id|=icon] {
  width: 80px;
  height: calc(80px * .75);
  fill: white;
  transition: .5s;
  vertical-align: bottom; }

svg[id=icon-linkedin] {
  width: 60px;
  height: 60px;
  fill: white;
  transition: .5s;
  vertical-align: bottom; }

svg[id=icon-mail] {
  margin-left: 22%; }

.linkedin p {
  text-align: center; }

.mail:hover svg, .mobile:hover svg, .linkedin:hover svg {
  animation: loopIconHorizontal .7s;
  cursor: pointer; }

svg#mobile path, svg#mobile circle {
  stroke: white;
  stroke-width: 2px; }

@-webkit-keyframes slideWordIn {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0); } }
@-moz-keyframes slideWordIn {
  from {
    opacity: 0;
    -moz-transform: translate3d(0, 50px, 0); }
  to {
    opacity: 1;
    -moz-transform: translate3d(0, 0, 0); } }
@keyframes slideWordIn {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
    -moz-transform: translate3d(0, 50px, 0);
    -ms-transform: translate3d(0, 50px, 0);
    -o-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@-webkit-keyframes loopIcon {
  0% {
    -webkit-transform: translate3d(0, 0, 0); }
  60% {
    -webkit-transform: translate3d(0, -50px, 0); }
  61% {
    -webkit-transform: translate3d(0, 50px, 0); }
  100% {
    -webkit-transform: translate3d(0, 0, 0); } }
@-moz-keyframes loopIcon {
  0% {
    -moz-transform: translate3d(0, 0, 0); }
  60% {
    -moz-transform: translate3d(0, -50px, 0); }
  61% {
    -moz-transform: translate3d(0, 50px, 0); }
  100% {
    -moz-transform: translate3d(0, 0, 0); } }
@keyframes loopIcon {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  60% {
    -webkit-transform: translate3d(0, -50px, 0);
    -moz-transform: translate3d(0, -50px, 0);
    -ms-transform: translate3d(0, -50px, 0);
    -o-transform: translate3d(0, -50px, 0);
    transform: translate3d(0, -50px, 0); }
  61% {
    -webkit-transform: translate3d(0, 50px, 0);
    -moz-transform: translate3d(0, 50px, 0);
    -ms-transform: translate3d(0, 50px, 0);
    -o-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0); }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@-webkit-keyframes loopIconHorizontal {
  0% {
    -webkit-transform: translate3d(0, 0, 0); }
  60% {
    -webkit-transform: translate3d(50px, 0, 0); }
  61% {
    -webkit-transform: translate3d(-50px, 0, 0); }
  100% {
    -webkit-transform: translate3d(0, 0, 0); } }
@-moz-keyframes loopIconHorizontal {
  0% {
    -moz-transform: translate3d(0, 0, 0); }
  60% {
    -moz-transform: translate3d(50px, 0, 0); }
  61% {
    -moz-transform: translate3d(-50px, 0, 0); }
  100% {
    -moz-transform: translate3d(0, 0, 0); } }
@keyframes loopIconHorizontal {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  60% {
    -webkit-transform: translate3d(70px, 0, 0);
    -moz-transform: translate3d(70px, 0, 0);
    -ms-transform: translate3d(70px, 0, 0);
    -o-transform: translate3d(70px, 0, 0);
    transform: translate3d(70px, 0, 0); }
  61% {
    -webkit-transform: translate3d(-70px, 0, 0);
    -moz-transform: translate3d(-70px, 0, 0);
    -ms-transform: translate3d(-70px, 0, 0);
    -o-transform: translate3d(-70px, 0, 0);
    transform: translate3d(-70px, 0, 0); }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@-webkit-keyframes loopIconHorizontalLeft {
  0% {
    -webkit-transform: translate3d(0, 0, 0); }
  60% {
    -webkit-transform: translate3d(-50px, 0, 0); }
  61% {
    -webkit-transform: translate3d(50px, 0, 0); }
  100% {
    -webkit-transform: translate3d(0, 0, 0); } }
@-moz-keyframes loopIconHorizontalLeft {
  0% {
    -moz-transform: translate3d(0, 0, 0); }
  60% {
    -moz-transform: translate3d(-50px, 0, 0); }
  61% {
    -moz-transform: translate3d(50px, 0, 0); }
  100% {
    -moz-transform: translate3d(0, 0, 0); } }
@keyframes loopIconHorizontalLeft {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  60% {
    -webkit-transform: translate3d(-50px, 0, 0);
    -moz-transform: translate3d(-50px, 0, 0);
    -ms-transform: translate3d(-50px, 0, 0);
    -o-transform: translate3d(-50px, 0, 0);
    transform: translate3d(-50px, 0, 0); }
  61% {
    -webkit-transform: translate3d(50px, 0, 0);
    -moz-transform: translate3d(50px, 0, 0);
    -ms-transform: translate3d(50px, 0, 0);
    -o-transform: translate3d(50px, 0, 0);
    transform: translate3d(50px, 0, 0); }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
.box1A {
  border-radius: 50%;
  background: #208BEE; }

.box1T {
  width: 200px;
  height: 200px; }

.box1P {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0); }

.boxCA {
  border-radius: 50%;
  background: #488289;
  box-shadow: 2px 2px 14px 2px rgba(0, 0, 0, 0.34);
  cursor: pointer; }

.boxCT {
  width: 320px;
  height: 320px;
  padding: 8vmin;
  box-sizing: border-box; }

.boxCP {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center; }

.boxMeA {
  color: #6D6D6D;
  font-size: 1.2rem; }

.boxMeP {
  width: 50%; }

.box1A:nth-child(even) {
  background: #F094F1; }

#box3 {
  background: #F9C066; }

.boxMeA p {
  text-align: center;
  color: #fbfbfb; }

.boxMeA {
  cursor: pointer; }

.clickMA {
  border-radius: 50%;
  cursor: pointer; }

.clickMT {
  width: 8vmin;
  height: calc(100vmin * 0.08); }

.clickMP {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 100; }

.box1P, .boxCA {
  z-index: 1; }

.boxCA {
  border: 5px solid white; }

#contacto .datos:last-child div.desCV {
  background: #491e46;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-flow: column;
  padding-bottom: 6vmin; }
  #contacto .datos:last-child div.desCV h2 {
    padding: 10px;
    margin: 0px;
    background: white;
    color: #491e46;
    font-size: 1rem;
    border-radius: 12px;
    cursor: pointer;
    transition: all .5s ease-in-out; }
  #contacto .datos:last-child div.desCV h2:hover {
    background: #491e46;
    color: white; }
  #contacto .datos:last-child div.desCV div {
    width: 4rem;
    height: 4rem;
    margin-bottom: 15px; }

a {
  text-decoration: none;
  color: white; }

#contacto .datos:last-child div svg#myResume {
  padding: 0px; }

.capaEnlace {
  width: 50%;
  height: 50%;
  position: absolute;
  bottom: 0%;
  background: rgba(0, 65, 255, 0.52);
  right: 0%;
  transform-origin: top left;
  transform: translate(25%, 100%) rotate(-40deg);
  opacity: 0;
  cursor: pointer;
  transition: all 2s ease;
  z-index: 10; }
  .capaEnlace div {
    width: 30%;
    height: 30%;
    position: relative;
    top: 11%;
    left: 40%;
    transform: rotate(40deg); }

/*/////////////////////////////*/
/*/////////////////////////////*/
/*/////////////////////////////*/
/*MEDIA QUERIES*/
/*/////////////////////////////*/
/*/////////////////////////////*/
/*/////////////////////////////*/
@media (min-width: 541px) {
  section#intro {
    height: 500px; }
    section#intro article#About, section#intro article#Otros {
      font-size: 1.2rem; }
      section#intro article#About div:nth-of-type(1), section#intro article#Otros div:nth-of-type(1) {
        border-top: 4px solid #f44336;
        border-left: 4px solid #f44336; }
      section#intro article#About div:nth-of-type(2), section#intro article#Otros div:nth-of-type(2) {
        border-top: 4px solid #f44336;
        border-right: 4px solid #f44336; }
      section#intro article#About div:nth-of-type(3), section#intro article#Otros div:nth-of-type(3) {
        border-bottom: 4px solid #f44336;
        border-left: 4px solid #f44336; }
      section#intro article#About div:nth-of-type(4), section#intro article#Otros div:nth-of-type(4) {
        border-bottom: 4px solid #f44336;
        border-right: 4px solid #f44336; }
    section#intro article#Me {
      top: 50%;
      left: 50%; }
    section#intro article#About {
      top: 23%;
      left: 69%; }
    section#intro article#Otros {
      display: block;
      top: 77%;
      left: 32%;
      background: rgba(255, 255, 255, 0.22); }

  div#division {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 10px;
    height: 80%;
    display: none;
    background: transparent;
    mix-blend-mode: color-dodge;
    -webkit-transform: translate(-50%, -50%) rotate(14deg);
    -moz-transform: translate(-50%, -50%) rotate(14deg);
    -o-transform: translate(-50%, -50%) rotate(14deg);
    transform: translate(-50%, -50%) rotate(14deg); }

  .flex_Centrado h2 {
    font-size: 1.1rem; } }
@media (min-width: 768px) {
  .desCV h2 {
    font-size: 1.2rem; }

  .name {
    font-size: 2rem; }

  .resto {
    font-size: 1rem; }

  .datos {
    width: 50%; }

  #contacto .datos:last-child div {
    position: relative;
    overflow: hidden; }

  section#formacion3 .strip.hoverin:first-child .content {
    transform: translate(-27px, -6%); }

  .flex_Centrado h2 {
    font-size: 1.6rem; }

  section#formacion, section#formacion2, section#formacion3, section#formacion4 {
    height: 500px; }
    section#formacion article:nth-child(1), section#formacion2 article:nth-child(1), section#formacion3 article:nth-child(1), section#formacion4 article:nth-child(1) {
      width: 75%; }
    section#formacion article:nth-child(2), section#formacion2 article:nth-child(2), section#formacion3 article:nth-child(2), section#formacion4 article:nth-child(2) {
      grid-area: 1/3/span 6 / span 11; }
    section#formacion .strip p, section#formacion2 .strip p, section#formacion3 .strip p, section#formacion4 .strip p {
      max-width: 80%; }
    section#formacion .strip .plus, section#formacion2 .strip .plus, section#formacion3 .strip .plus, section#formacion4 .strip .plus {
      font-size: 2.5rem; }
    section#formacion .strip.hoverin, section#formacion2 .strip.hoverin, section#formacion3 .strip.hoverin, section#formacion4 .strip.hoverin {
      padding-left: 3%; }
      section#formacion .strip.hoverin .content, section#formacion2 .strip.hoverin .content, section#formacion3 .strip.hoverin .content, section#formacion4 .strip.hoverin .content {
        margin: 40px auto 200px;
        transform: translate(-17px, -6%); }
        section#formacion .strip.hoverin .content h1, section#formacion2 .strip.hoverin .content h1, section#formacion3 .strip.hoverin .content h1, section#formacion4 .strip.hoverin .content h1 {
          margin: 30px 0 15px;
          font-size: 1.3rem; }
        section#formacion .strip.hoverin .content p, section#formacion2 .strip.hoverin .content p, section#formacion3 .strip.hoverin .content p, section#formacion4 .strip.hoverin .content p {
          font-size: 1.3rem; }
    section#formacion .strip #formacion3 div.strip:first-child .content, section#formacion2 .strip #formacion3 div.strip:first-child .content, section#formacion3 .strip #formacion3 div.strip:first-child .content, section#formacion4 .strip #formacion3 div.strip:first-child .content {
      transform: translate(-3%, 2%); }

  section#formacion3 .strip.hoverin .content {
    transform: translate(-27px, -6%); }

  #contacto .datos:last-child div.desCV {
    padding-bottom: 2.5vmin; }

  .boxCT {
    padding: 6vmin; } }
@media (min-width: 1100px), (min-width: 1024px) and (orientation: landscape) {
  #contacto .datos:last-child div.desCV {
    padding-bottom: 6vmin; }

  .name {
    font-size: 2.3rem; }

  .resto {
    font-size: 1.2rem; }

  #contacto {
    height: 250px; }

  .datos {
    justify-content: center; }

  #formacion3 div.strip:first-child .content {
    transform: translate(-1%, 2%); }

  .flex_Centrado h2 {
    font-size: 2.3rem; }

  section#formacion .strips .strip.hoverin .content,
  section#formacion .strips .strip.hoverin:first-child .content,
  section#formacion2 .strips .strip.hoverin .content,
  section#formacion2 .strips .strip.hoverin:first-child .content,
  section#formacion4 .strips .strip.hoverin .content,
  section#formacion4 .strips .strip.hoverin:first-child .content {
    transform: translate(-20px, 0%); }

  section#formacion3 .strips .strip.hoverin .content,
  section#formacion3 .strips div.strip.hoverin:first-child .content {
    transform: translate(-28px, 0%); }

  section#intro {
    height: 100vh; }
    section#intro article#Me {
      top: 18%;
      left: 50%;
      -webkit-transform: translate(-97%, -50%);
      -moz-transform: translate(-97%, -50%);
      -o-transform: translate(-97%, -50%);
      transform: translate(-97%, -50%); }
      section#intro article#Me h1 {
        font-size: 4.3rem; }
    section#intro article#About {
      font-size: 1.3rem;
      max-width: 450px;
      top: 50%;
      left: 25%;
      color: #ffe6e6; }
    section#intro article#Otros {
      font-size: 1.3rem;
      max-width: 450px;
      top: 50%;
      left: 75%;
      border: 2px dashed #8BC34A;
      color: #ffe6e6;
      background: rgba(255, 255, 255, 0.22); }
      section#intro article#Otros div {
        display: none; }
    section#intro .strip.hoverin .content {
      margin: 40px auto 200px;
      position: relative;
      top: -150px;
      transform: translate(0px, 6%); }

  section#formacion, section#formacion2, section#formacion3, section#formacion4 {
    height: 100vh; }

  .strip {
    align-items: flex-end; }
    .strip p {
      max-width: 385px; }
    .strip.hoverin {
      padding-left: 3%; }

  #formacion3 h1 {
    margin: 40px 0 16px; }

  .strip .plus {
    left: 0%;
    bottom: -18%; }

  .strip.hoverin .plus {
    left: 12%;
    bottom: -18%; }

  .boxCT {
    padding: 6vmin; }

  svg[id=icon-mail] {
    margin-left: 32%; } }
@media (min-width: 1200px) {
  .name {
    font-size: 2.6rem; }

  .resto {
    font-size: 1.4rem; }

  .datos {
    width: 60%; }

  #contacto .datos:last-child {
    width: 40%; }

  div#division {
    max-width: 470px;
    height: 80%;
    z-index: -1;
    display: flex;
    flex-flow: row wrap; }
    div#division div:nth-child(odd) {
      width: 20px;
      height: 10%;
      background: rgba(255, 127, 0, 0.2); }
    div#division div:nth-child(even) {
      background: rgba(86, 31, 31, 0.5);
      width: 20px;
      height: 20%; }

  #formacion3 h1 {
    margin: 52px 0 16px; }

  #formacion3 div.strip:first-child .content {
    transform: translate(0%, 2%); }

  #formacion3 .strip.hoverin .content {
    transform: translate(-4%, 15%); }

  #formacion3 div.strip:first-child .content {
    transform: translate(0%, 15%); }

  .strips .strip.hoverin .content {
    transform: scale(1) translate(-6%, 6%); }

  .strips .strip.hoverin:first-child .content {
    transform: scale(1) translate(-8%, 6%); }

  section#formacion .strips .strip.hoverin .content,
  section#formacion .strips .strip.hoverin:first-child .content,
  section#formacion2 .strips .strip.hoverin .content,
  section#formacion2 .strips .strip.hoverin:first-child .content,
  section#formacion4 .strips .strip.hoverin .content,
  section#formacion4 .strips .strip.hoverin:first-child .content {
    transform: translate(42px, -4%); }

  section#formacion3 .strips .strip.hoverin .content, section#formacion3 .strips div.strip.hoverin:first-child .content {
    transform: translate(-32px, 4%); }
    section#formacion3 .strips .strip.hoverin .content h1, section#formacion3 .strips div.strip.hoverin:first-child .content h1 {
      margin: 40px 0 15px; } }

/*# sourceMappingURL=estilo.css.map */
